/* COLORS VARIABLES  
======================= */

$violet: #a55eea;
$bleu:   #82ccdd;
$vert:   #00b894;
$jaune:  #fdcb6e;
$orange: #fa8231;
$rouge:  #ff7675;
$rose :  #f8a5c2;

$noir:   #333;
$gris:   #616161;
$blanc:  #f2f2f2;

/* FONT-FAMILY
======================= */

